@media only screen and (min-width:768px) {
  .post-preview > a > .post-title {
    font-size: 32px;
    font-weight: normal;
  }
}

.post-preview > a > .post-title {
  font-size: 32;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 10px;
}

header.masthead .overlayarticle {
  opacity: .5;
}

header.masthead .overlay {
  opacity: .7;
  background-color: #000000;
}

#login .nav-link {
  border: solid;
  border-width: 1px;
  background-color: rgba(238,182,167,0.08);
}

#mainNav.index {
  padding: .5rem 1rem;
  background-image: linear-gradient(to bottom right, #0b161d, #05283e);
  margin-bottom: 200px;
}

.articlerow {
  margin-top: 80px;
}

#mainNav.is-fixed {
  border-bottom: 1px solid #13364c;
  background-image: none;
}

.fa-inverse {
  color: black;
}

.githubicon {
  line-height: inherit;
  position: absolute;
  left: 15%;
  top: 17%;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  width: 70%;
}

.githubicon_rb {
  line-height: inherit;
  position: absolute;
  left: 6%;
  top: 5%;
  margin: auto;
  text-align: center;
  border-radius: 100px;
  width: 88%;
}

.lrlogo {
  font-family: Aldrich,sans-serif;
}

#mainNav .lrlogo-index {
  color: hsla(0,0%,100%,.8);
}

.lrlogo-index {
  color: #ffffff;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-weight: 600;
}

.hiding {
  background: linear-gradient(to top, rgb(255,255,255), rgba(255,255,255,0));
  bottom: 0;
  height: 80px;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  display: block;
}

div {
  position: relative;
}

.profile-title {
  font-weight: normal;
  margin-top: 40px;
}

.earning-value {
  text-align: right;
  display: block;
}

.earning-title {
  display: block;
  text-align: left;
  float: left;
}

.earning-hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #13364c;
}

@media only screen and (min-width:992px) {
  .lrlogo {
    color: hsla(0,0%,100%,.8);
  }
}

.btn-light {
  border-color: #000000;
  margin-right: 10px;
}

.progress {
  background-color: #ff7918;
}

.progress.progress-pending {
  background-color: rgb(176,176,176);
}

.progress-bar.progress-pending {
  background-color: rgb(124,124,124);
}

.profilepic_edit {
  border-radius: 180px;
  width: 178px;
  margin-bottom: 20px;
  display: block;
}

.cont {
  position: relative;
  width: 178px;
  max-width: 300px;
  margin: auto;
}

.cont:hover .img-overlay {
  opacity: 1;
}

.img-overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 55px;
  text-align: center;
  border-radius: 180px;
}

/*circular button*/
.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}